List <%= @list.title %><br>
<% if notice.present? %>
  <p id="notice">
    <%= notice %>
  </p>
<% end %>
<div data-controller="items">
  <%= render @list.items %>
</div>
<div>
  <%= render "items/new_item" %>
</div>
<%= link_to "Back", lists_path %>

